
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.user-in-page-L7Z {
  width: 100%;
  height: 90rem;

  .mainscreen-ghD {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fffbfb;

    .auto-group-hnej-dsM {
      width: 144rem;
      height: 15.0392rem;
      position: absolute;
      left: 0;
      top: 11.5144rem;
      border-top: solid 0.1rem #000345;
      box-sizing: border-box;

      .frame-1-B8B {
        align-items: center;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        border: solid 0.1rem #d2e6f1;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 4.186rem 9.6rem 3.754rem 11.2rem;
        width: 100%;

        .field-title-Hwu {
          font-size: 2rem;
          color: black;
          font-family: Gelasio, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #00a3ff;
          height: 6.5rem;
          align-items: center;
          box-sizing: border-box;
          background-color: #d2e6f1;
          flex-shrink: 0;
          margin: 0.6rem 9.4rem 0rem 0rem;
          width: 45.8rem;
          display: flex;
          justify-content: center;
          font-weight: 400;
          line-height: 1.27;

          &::placeholder {
            color: #7376b6;
            font-family: Gelasio, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.27;

          }
        }
        .field-location-gUF {

          &::placeholder {
            color: #7376b6;
            font-family: Gelasio, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.27;

          }
          display: flex;
          font-family: Gelasio, 'Source Sans Pro';
          background-color: #d2e6f1;
          justify-content: center;
          flex-shrink: 0;
          height: 6.5rem;
          align-items: center;
          font-size: 2rem;
          line-height: 1.27;
          color: black;
          margin: 0rem 7.3rem 0.6rem 0rem;
          width: 45.8rem;
          font-weight: 400;
          white-space: nowrap;
          border: solid 0.1rem #00a3ff;
          box-sizing: border-box;
        }
        .button-JVd {
          margin-bottom: 1.1rem;
          align-items: center;
          font-weight: 400;
          line-height: 1.27;
          border: solid 0.1rem #000345;
          box-sizing: border-box;
          height: 6rem;
          background-color: #a1a4d6;
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          font-size: 2rem;
          color: #000345;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 14.9rem;
          justify-content: center;
          font-family: Gelasio, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .footerseparator-vX1 {
      width: 144rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 82.2454rem;
      background-color: #000345;
    }
    .auto-group-74px-rvT {
      width: 137.665rem;
      height: 9.8rem;
      position: absolute;
      left: 1.6128rem;
      top: 1.6449rem;
      display: flex;
      align-items: flex-start;

      .whatever-job-you-choose-CDd {
        max-width: 29.4rem;
        cursor: pointer;
        font-size: 3rem;
        font-weight: 400;
        font-family: Holtwood One SC, 'Source Sans Pro';
        margin-right: 88.6761rem;
        line-height: 1.6275;
        color: #00a3ff;
        flex-shrink: 0;
      }
      .userinfo-utj {
        flex-shrink: 0;
        margin-bottom: 2.4898rem;
        cursor: pointer;
        display: flex;
        align-items: center;

        .john-smith-4Wj {
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.27;
          font-family: Gelasio, 'Source Sans Pro';
          margin: 0.69rem 3.289rem 0rem 0rem;
          display: flex;
          color: #000345;
          flex-shrink: 0;
        }
        .rectangle-1-N1d {
          flex-shrink: 0;
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .online-support-Vc3 {
      top: 84.5353rem;
      display: flex;
      font-family: Gelasio, 'Source Sans Pro';
      color: #000345;
      width: 10.3rem;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      line-height: 1.27;
      height: 2rem;
      position: absolute;
      left: 124.3348rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .auto-group-wfu1-CWT {
      top: 26.5535rem;
      width: 140.0872rem;
      height: 54.987rem;
      position: absolute;
      left: 1.6128rem;

      .jobdesc-wU3 {
        position: absolute;
        left: 87.552rem;
        top: 0;
        overflow: hidden;
        background-color: #ffffff;
        width: 52.5352rem;
        height: 54.987rem;

        .container-gAj {
          left: 0.0352rem;
          top: 0.0465rem;
          border: solid 0.1rem #7376b6;
          box-sizing: border-box;
          background-color: #efefff;
          width: 52.5rem;
          height: 54.9rem;
          position: absolute;
        }
        .software-engineer-c4P {
          font-size: 2.5rem;
          color: #000000;
          font-family: Gelasio, 'Source Sans Pro';
          height: 3.2rem;
          position: absolute;
          display: flex;
          font-weight: 700;
          line-height: 1.27;
          white-space: nowrap;
          width: 24rem;
          left: 1.2352rem;
          top: 1.1465rem;
        }
        .company-a-719 {
          width: 10.3rem;
          height: 2.6rem;
          position: absolute;
          left: 1.2352rem;
          font-family: Gelasio, 'Source Sans Pro';
          top: 4.1965rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.27;
          color: #000000;
          white-space: nowrap;
        }
        .montreal-qc-remote-RnX {
          position: absolute;
          top: 6.6465rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.27;
          width: 20.9rem;
          height: 2.6rem;
          left: 1.3352rem;
          display: flex;
          color: #000000;
          font-family: Gelasio, 'Source Sans Pro';
          white-space: nowrap;
        }
        .h-full-time-nmV {
          position: absolute;
          left: 1.3352rem;
          top: 9.5465rem;
          display: flex;
          font-weight: 400;
          line-height: 1.27;
          color: #000000;
          height: 2.6rem;
          white-space: nowrap;
          font-size: 2rem;
          font-family: Gelasio, 'Source Sans Pro';
          width: 14.9rem;
        }
        .line-1-WSb {
          height: 0.1rem;
          position: absolute;
          left: 0.0352rem;
          top: 12.8465rem;
          background-color: #000345;
          width: 52.5rem;
        }
        .button-4DD {
          white-space: nowrap;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          height: 4.3rem;
          position: absolute;
          font-size: 2rem;
          width: 13.4rem;
          display: flex;
          font-weight: 400;
          line-height: 1.27;
          border: solid 0.1rem #000345;
          cursor: pointer;
          top: 6.7465rem;
          align-items: center;
          font-family: Gelasio, 'Source Sans Pro';
          background-color: #a1a4d6;
          left: 37.3352rem;
          justify-content: center;
          color: #000345;
        }
        .job-description-iHm {
          position: absolute;
          line-height: 1.27;
          font-family: Gelasio, 'Source Sans Pro';
          width: 15.4rem;
          height: 2.6rem;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          left: 1.3352rem;
          top: 14.2465rem;
        }
      }
      .joblist-DkK {
        flex-direction: column;
        background-color: #ffffff;
        box-sizing: border-box;
        padding-top: 0.9465rem;
        width: 87.552rem;
        height: 54.987rem;
        top: 0;
        overflow: hidden;
        position: absolute;
        left: 0;
        row-gap: 2.1535rem;
        display: flex;

        .listing-KoM {
          cursor: pointer;
          align-items: center;
          border: solid 0.1rem #a1a4d6;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          padding: 0.946rem 2.713rem 1.092rem 5.737rem;
          height: 10.1465rem;
          display: flex;
          background-color: #efefff;
          flex-shrink: 0;

          .company-a-dJF {
            justify-content: center;
            font-weight: 700;
            line-height: 1.27;
            color: #000000;
            margin: 0rem 17.05rem 0.508rem 0rem;
            max-width: 12.2rem;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            font-family: Gelasio, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .auto-group-vq6x-YAK {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 22.8628rem;

            .software-engineer-h3D {
              color: #000000;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0.024rem 0.608rem 0rem;
              display: flex;
              line-height: 1.27;
              font-weight: 400;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              font-size: 2rem;
            }
            .full-time-buH {
              line-height: 1.27;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.5rem;
              justify-content: center;
              font-weight: 400;
              font-family: Gelasio, 'Source Sans Pro';
              margin: 0rem 0rem 0.9rem 0.055rem;
              align-items: center;
            }
            .montreal-qc-remote-jEo {
              margin-left: 0.7244rem;
              align-items: center;
              justify-content: center;
              font-size: 1.5rem;
              line-height: 1.27;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-weight: 400;
              color: #000000;
              font-family: Gelasio, 'Source Sans Pro';
            }
          }
          .auto-group-bkzb-Fiw {
            margin: 1.999rem 0rem 1.178rem 0rem;
            height: calc(100% - 3.1773rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .posted--Pq9 {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.931rem 0.116rem;
              align-items: center;
              font-size: 1.5rem;
              font-family: Gelasio, 'Source Sans Pro';
              color: #a1a4d6;
              display: flex;
              justify-content: center;
              font-weight: 700;
              line-height: 1.27;
            }
            .july-9-2023-vaB {
              color: #a1a4d6;
              font-family: Gelasio, 'Source Sans Pro';
              flex-shrink: 0;
              align-items: center;
              line-height: 1.27;
              font-size: 1.5rem;
              font-weight: 700;
              white-space: nowrap;
              display: flex;
              justify-content: center;
            }
          }
        }
        .listing-1bd {
          background-color: #efefff;
          display: flex;
          border: solid 0.1rem #a1a4d6;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          cursor: pointer;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.946rem 2.713rem 1.092rem 5.737rem;
          height: 10.1465rem;

          .company-a-Lto {
            margin: 0rem 17.05rem 0.508rem 0rem;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            line-height: 1.27;
            flex-shrink: 0;
            max-width: 12.2rem;
            justify-content: center;
            font-weight: 700;
            color: #000000;
            font-family: Gelasio, 'Source Sans Pro';
          }
          .auto-group-4qj3-4K1 {
            flex-shrink: 0;
            margin-right: 22.8628rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .software-engineer-1k3 {
              flex-shrink: 0;
              align-items: center;
              font-weight: 400;
              font-family: Gelasio, 'Source Sans Pro';
              font-size: 2rem;
              line-height: 1.27;
              color: #000000;
              white-space: nowrap;
              margin: 0rem 0.024rem 0.608rem 0rem;
              display: flex;
              justify-content: center;
            }
            .full-time-jg3 {
              margin: 0rem 0rem 0.9rem 0.055rem;
              display: flex;
              align-items: center;
              line-height: 1.27;
              font-family: Gelasio, 'Source Sans Pro';
              flex-shrink: 0;
              justify-content: center;
              font-size: 1.5rem;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
            }
            .montreal-qc-remote-fZh {
              justify-content: center;
              font-size: 1.5rem;
              line-height: 1.27;
              color: #000000;
              margin-left: 0.7244rem;
              display: flex;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              align-items: center;
              font-weight: 400;
            }
          }
          .auto-group-qy9m-PVh {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.999rem 0rem 1.178rem 0rem;
            height: calc(100% - 3.1773rem);

            .posted--LA3 {
              align-items: center;
              justify-content: center;
              font-weight: 700;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 0.931rem 0.116rem;
              display: flex;
              font-size: 1.5rem;
              line-height: 1.27;
              color: #a1a4d6;
              flex-shrink: 0;
            }
            .july-9-2023-TVZ {
              font-weight: 700;
              color: #a1a4d6;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              font-size: 1.5rem;
              align-items: center;
              line-height: 1.27;
            }
          }
        }
        .listing-APy {
          display: flex;
          border: solid 0.1rem #a1a4d6;
          background-color: #efefff;
          box-sizing: border-box;
          height: 10.1465rem;
          cursor: pointer;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          padding: 0.946rem 2.713rem 1.092rem 5.737rem;

          .company-a-u6f {
            max-width: 12.2rem;
            justify-content: center;
            line-height: 1.27;
            color: #000000;
            font-family: Gelasio, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 17.05rem 0.508rem 0rem;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            font-weight: 700;
          }
          .auto-group-jmno-2BH {
            flex-shrink: 0;
            margin-right: 22.8628rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .software-engineer-nAT {
              margin: 0rem 0.024rem 0.608rem 0rem;
              justify-content: center;
              font-weight: 400;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              font-size: 2rem;
              line-height: 1.27;
              color: #000000;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
            }
            .full-time-WMM {
              align-items: center;
              justify-content: center;
              font-size: 1.5rem;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.9rem 0.055rem;
              display: flex;
              font-weight: 400;
              line-height: 1.27;
              font-family: Gelasio, 'Source Sans Pro';
            }
            .montreal-qc-remote-3MH {
              line-height: 1.27;
              white-space: nowrap;
              flex-shrink: 0;
              justify-content: center;
              display: flex;
              align-items: center;
              font-size: 1.5rem;
              font-weight: 400;
              color: #000000;
              font-family: Gelasio, 'Source Sans Pro';
              margin-left: 0.7244rem;
            }
          }
          .auto-group-iuu1-Awh {
            margin: 1.999rem 0rem 1.178rem 0rem;
            height: calc(100% - 3.1773rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .posted--WVm {
              display: flex;
              align-items: center;
              color: #a1a4d6;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 0.931rem 0.116rem;
              justify-content: center;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.27;
              flex-shrink: 0;
            }
            .july-9-2023-2yu {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              color: #a1a4d6;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.27;
            }
          }
        }
        .listing-KTD {
          background-color: #efefff;
          box-sizing: border-box;
          border: solid 0.1rem #a1a4d6;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          padding: 0.946rem 2.713rem 1.092rem 5.737rem;
          height: 10.1465rem;
          cursor: pointer;

          .company-a-Snj {
            font-weight: 700;
            color: #000000;
            font-family: Gelasio, 'Source Sans Pro';
            max-width: 12.2rem;
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            margin: 0rem 17.05rem 0.508rem 0rem;
            align-items: center;
            line-height: 1.27;
            flex-shrink: 0;
          }
          .auto-group-gkej-y1y {
            flex-shrink: 0;
            margin-right: 22.8628rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .software-engineer-Kbd {
              font-family: Gelasio, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.27;
              margin: 0rem 0.024rem 0.608rem 0rem;
              display: flex;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .full-time-r5m {
              margin: 0rem 0rem 0.9rem 0.055rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.5rem;
              line-height: 1.27;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              color: #000000;
              font-family: Gelasio, 'Source Sans Pro';
            }
            .montreal-qc-remote-aXZ {
              line-height: 1.27;
              color: #000000;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 0.7244rem;
              justify-content: center;
              font-size: 1.5rem;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              font-weight: 400;
            }
          }
          .auto-group-1sdz-7XV {
            height: calc(100% - 3.1773rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.999rem 0rem 1.178rem 0rem;

            .posted--4Bq {
              margin: 0rem 0rem 0.931rem 0.116rem;
              align-items: center;
              font-size: 1.5rem;
              white-space: nowrap;
              color: #a1a4d6;
              font-family: Gelasio, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              font-weight: 700;
              line-height: 1.27;
            }
            .july-9-2023-z5V {
              align-items: center;
              justify-content: center;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.27;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              color: #a1a4d6;
            }
          }
        }
        .listing-WCF {
          padding: 0.946rem 2.713rem 1.092rem 4.787rem;
          height: 10.1465rem;
          border: solid 0.1rem #a1a4d6;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #efefff;
          box-sizing: border-box;
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .company-a-3CB {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 16.1rem 0.508rem 0rem;
            display: flex;
            justify-content: center;
            line-height: 1.27;
            font-family: Gelasio, 'Source Sans Pro';
            align-items: center;
            font-size: 2.5rem;
            font-weight: 700;
            color: #000000;
          }
          .auto-group-i6c7-NET {
            margin-right: 22.8628rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .software-engineer-8Dd {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              flex-shrink: 0;
              margin: 0rem 0.024rem 0.608rem 0rem;
              line-height: 1.27;
              color: #000000;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
            }
            .full-time-T11 {
              font-weight: 400;
              line-height: 1.27;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.5rem;
              flex-shrink: 0;
              margin: 0rem 0rem 0.9rem 0.055rem;
              color: #000000;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
            }
            .montreal-qc-remote-abR {
              flex-shrink: 0;
              margin-left: 0.7244rem;
              font-size: 1.5rem;
              font-family: Gelasio, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.27;
              color: #000000;
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .auto-group-aruh-utb {
            margin: 1.999rem 0rem 1.178rem 0rem;
            height: calc(100% - 3.1773rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .posted--T9R {
              font-size: 1.5rem;
              font-weight: 700;
              font-family: Gelasio, 'Source Sans Pro';
              align-items: center;
              display: flex;
              justify-content: center;
              line-height: 1.27;
              color: #a1a4d6;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.931rem 0.116rem;
            }
            .july-9-2023-azj {
              align-items: center;
              justify-content: center;
              color: #a1a4d6;
              font-family: Gelasio, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.27;
            }
          }
        }
      }
    }
  }
}
